*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    padding: 10px;
    text-align: center;
}

.products{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
   
}

.product img{
    width: 105px;
    height: 100px;
}
.product a{
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    align-self: flex-start;
}