.detiles-product{
display: flex;
flex-direction: column;
gap: 25px;
align-items: flex-start;
padding: 20px;
}

.detiles-product .title{
font-size: 28px;
}

.detiles-product .description{
font-size: 20px;

text-transform: capitalize;
}
.description span{
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}

.detiles-product .price{
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
}

.detiles-product img{
    width: 250px;
    height: 220px;
}




